<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="url_switch_contingencia" value="https://qpy1h4s0kc.execute-api.us-west-2.amazonaws.com/prod/switch/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <!--<endpoint address="https://rrint.olimpiait.com:8075/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--<endpoint address="https://rrint.olimpiait.com:8075/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosInternet" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--<endpoint address="https://10.130.1.21:6341/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosInternet" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--<endpoint address="https://10.130.1.21:6346/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosInternet" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--Pruebas MultiCliente Internet-->
      <!--<endpoint address="https://reconoserpruebas.olimpiait.com:6346/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--Produccion MultiCliente-->
      <endpoint address="https://rsapp.olimpiait.com:8092/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />
      <!--Pruebas MultiCliente-->
      <!--<endpoint address="https://reconoserpruebas.olimpiait.com:6346/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus"  xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
      <!--Pruebas Local-->
      <!--<endpoint address="http://localhost:61620/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosLocal" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
    </client>
  </system.serviceModel>  
</configuration>