<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="ContingenciaOperador.AzureStorage" type="System.Configuration.AppSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
  </configSections>
  <ContingenciaOperador.AzureStorage>
    <add key="CadenaDeConexionTablas" value="DefaultEndpointsProtocol=https;AccountName=sacaeudevcontingencia;AccountKey=r9f8vKLDYx49Tv27ZCNgGu6G2ksujgmpK9QHtp54xsvEC8b7OzDq+p1zMeYn0ZGDAaPaeqJYpzSp4yssmhN6qg==;EndpointSuffix=core.windows.net" />
    <add key="Tabla" value="PruebasIntegracion" />
    <add key="CadenaDeConexionArchivos" value="DefaultEndpointsProtocol=https;AccountName=sacaeudevcontingencia;AccountKey=r9f8vKLDYx49Tv27ZCNgGu6G2ksujgmpK9QHtp54xsvEC8b7OzDq+p1zMeYn0ZGDAaPaeqJYpzSp4yssmhN6qg==;EndpointSuffix=core.windows.net" />
    <add key="ContenedorArchivos" value="PruebasIntegracion" />
  </ContingenciaOperador.AzureStorage>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
</configuration>