<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionReconoserColpatria" providerName="System.Data.SqlClient" connectionString="Data Source=OLSRVDESBDOTR\DESBDOTRSQL;Initial Catalog=ReconoserColpatria;Integrated Security=True" />
  </connectionStrings>
</configuration>

