<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaptorTimeOut" value="30"/>
    <add key="DebugCaptor" value="1"/>
    <add key="Origen" value="*"/>
    <add key="EnableGET" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="RestWCFServiceLibrary.Service1Behavior"
               name="WCFServicioReconoser.RestWCFReconososer">
        <endpoint address=""
                  binding="webHttpBinding"
                  bindingConfiguration="security"
                  contract="WCFServicioReconoser.IRestWCFReconososer"
                  behaviorConfiguration="web">
        </endpoint>
        <!--<endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8888/RestWCFServiceLibrary/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RestWCFServiceLibrary.Service1Behavior">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="ServiciosDistrubuidosSeg" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType ="None"></transport>
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="security">
          <security mode="Transport">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://rrprucfc.olimpiait.com:6410/FachadaServicioZeus.svc" binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg" contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />
    </client>

  </system.serviceModel>
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin,X-Requested-With,Content-Type,Accept,Cache-Control,Authorization" />
        <add name="Authorization" value="" />
      </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Morpho.MorphoAcquisition" publicKeyToken="6c88356942c144bd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
