<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Utilidades.EstampaCronologica" type="System.Configuration.AppSettingsSection" requirePermission="false" />
  </configSections>
  <Utilidades.EstampaCronologica>
    <add key="NombreFirma" value="Estampa Cronológica" />
    <add key="Url" value="https://tsapre.olimpiait.com:8141/tsagw/v1_0/SetTimeStamp" />
    <add key="Usuario" value="UserTest" />
    <add key="Contrasena" value="Olimpia.2021" />
    <add key="Hash" value="SHA-256" />
  </Utilidades.EstampaCronologica>

</configuration>