<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="ModoVentana" value="1" />
    <!--Prot-->
    <!--<add key="Logo" value="logo3197" />-->
    <!--Serf-->
    <!--<add key="Logo" value="logo2451" />-->

    <!-- Serfinansas-->
    <!--<add key="PinPadCOMPort" value="3" />-->

    <!-- LDAP-->
    <add key="IP" value="10.150.14.50:389" />
    <add key="Identificador" value="DC=olimpiait,DC=local" />
    <add key ="Threeshold" value="100" />
    <!--<add key="IP" value="10.231.20.110:389" />
    <add key="Identificador" value="OU=SERFINANSA,DC=serfinansa,DC=local" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_IServicioWCFWA" maxBufferPoolSize="200000000"
          maxReceivedMessageSize="200000000" useDefaultWebProxy="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpsBinding_IServicioColpatria">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ServiciosDistrubuidosSeg" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType ="None"></transport>
          </security>
        </binding>
        <binding name="ServiciosDistrubuidos" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <basicHttpsBinding>
        <binding name="basicHttpsBindingForYourService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://10.130.1.21:6346/FachadaServicioZeus.svc"
        binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg"
        contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />
      <!--Desarrollo-->
      <!--<endpoint address="http://10.150.28.15:8091/FachadaServicioZeus.svc"
        binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidos"
        contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--Pruebas Serfinansa-->
      <!--<endpoint address="https://10.150.11.44:8160/FachadaServicioZeus.svc"
        binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg"
        contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--Pruebas Proteccion-->
      <!--<endpoint address="https://10.150.11.44:8065/FachadaServicioZeus.svc"
        binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg"
        contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--Pruebas Olimpia-->
      <!--<endpoint address="https://10.150.11.44:8067/FachadaServicioZeus.svc"
      binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg"
      contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
      <!--Pruebas Olimpia-->
      <!--<endpoint address="https://olnlbprowbrcs01:8060/FachadaServicioZeus.svc"
      binding="wsHttpBinding" bindingConfiguration="ServiciosDistrubuidosSeg"
      contract="ServicioFachadaZeus.IServicioFachadaZeus" name="WSHttpBinding_IServicioFachadaZeus" />-->
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--<serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="WCFBanco.Authenticator, WCFBanco" />
          </serviceCredentials>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>